.hidden {
  opacity: 0;
}

.bg-img div {
  position: fixed;
  opacity: 1;
  transition: opacity 1s linear;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.default-bg {
  background: linear-gradient(#4b9dfa, #003fe6) no-repeat;
  background-size: cover;
}

.bg-01d {
  background-image: url("../images/bg/01d_bg.png");
  background-size: cover;
}

@-webkit-keyframes opacityBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-01n {
  background: url("../images/bg/01n_bg.gif");
  background-size: auto 100%;
}

.bg-02d {
  background: linear-gradient(rgba(190, 190, 190, 0.3), rgba(79, 79, 79, 0.9)),
    url("../images/bg/02d_bg.gif");
  background-size: cover;
}

.bg-02n {
  background: url("../images/bg/02n_bg.jpeg");
  background-size: cover;
}

.bg-03d {
  background-image: linear-gradient(
      rgba(190, 190, 190, 0.3),
      rgba(79, 79, 79, 0.5)
    ),
    url("../images/bg/03d_bg.gif");
  background-size: cover;
}

.bg-03n {
  background-image: url("../images/bg/03n_bg.gif");
  background-size: cover;
}

.bg-04d {
  background-image: linear-gradient(
      rgba(190, 190, 190, 0.3),
      rgba(79, 79, 79, 0.9)
    ),
    url("../images/bg/04d_bg.gif");
  background-size: cover;
}

.bg-04n {
  background-image: url("../images/bg/04n_bg.gif");
  background-size: cover;
}

.bg-09d {
  background-image: linear-gradient(rgba(45, 45, 45, 0), rgba(0, 0, 0, 0.8)),
    url("../images/bg/09d_bg.jpeg");
  background-size: cover;
}

.bg-09n {
  background-image: linear-gradient(rgba(15, 15, 15, 1), rgba(0, 0, 0, 0.8)),
    url("../images/bg/09n_bg.gif");
  background-size: cover;
}

.bg-10d {
  background-image: linear-gradient(rgba(180, 180, 180, 0), rgba(0, 0, 0, 0.8)),
    url("../images/bg/10d_bg.gif");
  background-size: 100% 100%;
}

.bg-10n {
  background-image: linear-gradient(rgba(39, 39, 39, 0.8), rgba(0, 0, 0, 1)),
    url("../images/bg/10n_bg.gif");
  background-size: cover;
}

.bg-11d {
  background-image: linear-gradient(rgba(118, 118, 118, 0.4), rgba(0, 0, 0, 1)),
    url("../images/bg/11d_bg.gif");
  background-size: cover;
}

.bg-11n {
  background-image: linear-gradient(rgba(36, 36, 36, 0.8), rgba(0, 0, 0, 1)),
    url("../images/bg/11n_bg.gif");
  background-size: cover;
}

.bg-13d {
  background-image: linear-gradient(
      rgba(190, 190, 190, 0),
      rgba(79, 79, 79, 0.4)
    ),
    url("../images/bg/13d_bg.gif");
  background-size: cover;
}

.bg-13n {
  background-image: linear-gradient(rgba(8, 8, 8, 0.5), rgba(0, 0, 0, 1)),
    url("../images/bg/13n_bg.gif");
  background-size: cover;
}

.bg-50d {
  background-image: linear-gradient(
      rgba(131, 131, 131, 0.4),
      rgba(79, 79, 79, 0.8)
    ),
    url("../images/bg/50d_bg.jpeg");
  background-size: cover;
}

.bg-50n {
  background-image: linear-gradient(rgba(8, 8, 8, 0.5), rgba(0, 0, 0, 1)),
    url("../images/bg/50n_bg.jpeg");
  background-size: cover;
}
