:root {
  --start: 15%;
}

.city_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 45%;
  height: 50vh;
  padding: 0.5em 0;
  border-radius: 0.3em;
  overflow: hidden;
  border: var(--main-color) solid 0.1em;
}

.city_list__profiles {
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 1em);
  /*height: 100%;*/
  margin: 0 1em;
  opacity: 0.9;
}

.city_list__profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: calc(100% / 5);
  width: 100%;
  padding: 0 1rem;
  overflow-wrap: break-word;
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98),
    box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}

.city_list__profile:hover {
  transform: scale(1.05);
  box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}

.city_list__picture {
  margin: 0 auto;
  height: 100%;
}

.city_list__name {
  font-weight: bold;
  width: 50%;
}

.city_list__value {
  width: 20%;
  color: var(--main-color);
  font-weight: 700;
  text-align: right;
}
