:root {
  --start: 15%;
  --day-to-show: 7;
}

.hour-daily-weather {
  /*overflow: scroll;*/
}

@media (hover: none) and (pointer: coarse) {
  .hour-daily-weather {
    width: 100%;
  }

  .daily-labels {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }

  .daily-labels > li {
    min-width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 1em 1em 0;
  }

  .daily-labels > li > * {
    margin: 0;
  }

  .daily-chart {
    min-width: calc(100% * var(--day-to-show) / var(--day-per-slider));
  }
}

@media (hover: hover) and (pointer: fine) {
  .hour-daily-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 0.3em;
    overflow: hidden;
    padding: 0.5rem 0;
  }

  .daily-labels {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }

  .daily-chart {
    width: 100%;
  }
  .daily-labels > li {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 1em 0;
    list-style-type: none;
  }

  .daily-labels > li > * {
    margin: 0;
  }

  .city_list__profiles {
    width: calc(100% - 1em);
    margin: 0 1em;
    border-radius: 0 0 12px 12px;
    opacity: 0.9;
  }

  .city_list__profile {
    height: calc(100% / 5);
    padding: 0 1rem;
    overflow-wrap: break-word;
    border-radius: 10px;
    box-shadow: 0 0.3rem 0.5rem -0.1rem rgba(51, 51, 51, 0.23);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98),
      box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  }
}
