:root {
  /*font-size:calc(0.5em + 1vh);*/
  --slider-width: 32em;
  --city-width: 20em;
  box-sizing: border-box;
}

/*.city{*/
/*  position: absolute;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  margin: 1em;*/
/*}*/

.slider {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  background: linear-gradient(to bottom right, #0099c6, #6afac7);
  width: var(--slider-width);
  font-size: 1.2rem;
  /*max-height: 10em;*/
  border-radius: 0.5em;
  overflow: hidden;
}

.wrap {
  position: relative;
  min-width: calc(var(--slider-width) / 8 - 0.5em);
  text-align: center;
  margin-right: 0.5em;
  margin-top: inherit;
}

.wrap img {
  width: 100%;
}

.wrap > p {
  line-height: 1.5em;
}
