:root {
  font-size: 12px;
  box-sizing: border-box;
  --header-color: #535353;
  --main-color: #d2d2d2;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  html,
  body {
    height: 100%;
    background-color: var(--header-color);
  }
}

@media (hover: none) and (pointer: coarse) {
  html,
  body {
    min-height: 100%;
    position: fixed;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: calc(0.5em + 1vw);
  color: var(--main-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a:visited,
a:focus {
  text-decoration: none;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  overflow: visible;
  background: #4a6dc6 url(../images/spinner.gif) no-repeat center center;
}

@media (hover: none) and (pointer: coarse) {
  .header {
    height: 6rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .header {
    height: 8vh;
    padding: 0.2em;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: var(--header-color);*/
}

.header__title {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.header__title img {
  max-height: 80%;
}

.header__title * + * {
  margin-left: 0.4em;
}

.header__title__hover:first-letter {
  display: inline-block;
  background: linear-gradient(to right, #e4f4fe 50%, #1bbaf9 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 1s, color 1s;
}

.section {
  flex: 1 0 auto;
  width: 100%;
}

.section-content {
  display: flex;
  align-items: center;
}

.current-container {
  display: flex;
  height: 100%;
}

.current-container > aside {
  display: flex;
  align-items: center;
}

.update-time {
  align-self: end;
  padding: 1em;
  margin-bottom: 0;
}

.date-color {
  color: #a0ecfa;
}

.current-temp > aside {
  display: flex;
  align-items: center;
}

.current-temp > aside > img {
  margin-right: 0.3em;
}

.heading {
  font-size: 2em;
  font-weight: 200;
}

.weather-items li {
  display: flex;
  align-items: center;
}

@media (hover: none) and (pointer: coarse) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 2.5em;
    background-color: unset;
    font-size: 2.5em;
    font-weight: 450;
    text-align: center;
    /*margin-top: 1em;*/
  }

  .current-city-title {
    /*height: 100%;*/
    width: 100%;
    margin-left: 2em;
    /*position: fixed;*/
  }

  .current-city-title img {
    width: 0.8em;
  }

  .menu-mobile {
    /*position: relative;*/
    /*top: 1em;*/
    margin-right: 1em;
  }

  .section {
    color: #fff;
    margin-top: 1em;
  }

  .scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85vh;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgb(160, 160, 160) 5%
    );
  }

  .section-content {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .current-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-basis: 100%;
    font-size: 2em;
  }

  .current-container > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .update-time {
    font-size: 0.58em;
  }
  .current-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
  }

  .current-temp > aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .celcius-font {
    position: relative;
    font-weight: 300;
    top: -1.8em;
    right: 0.1em;
    font-size: 0.3em;
  }

  .current-temp-max-min {
    margin-top: -0.2em;
  }

  .current-temp-max,
  .current-temp-min {
    font-size: 0.3em;
    font-weight: 450;
  }

  .current-temp-min {
    opacity: 0.5;
  }

  .current-city-img {
    width: 12vw;
    height: 12vw;
  }

  .current-city-weather {
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .verbose-info {
    margin: 2em 1em 0;
    max-width: 100%;
  }

  .verbose-info + .verbose-info {
    margin-bottom: 1em;
  }

  .verbose-info__title {
    width: 60%;
    word-break: break-word;
    padding: 0 1.5rem;
    margin-top: 1em;
    font-size: 1.8em;
    line-height: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
  }

  .verbose-info__items {
    margin-top: 1em;
    padding: 0.5rem 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(1em, 2fr));
  }

  .verbose-info_border {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    padding-top: 1rem;
  }

  .verbose-info li {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 1rem 1.5rem;
    width: 100%;
  }

  .icon {
    position: relative;
    width: 2.5em;
  }

  .item-description-wrapper {
    text-align: center;
    margin-top: 1rem;
  }

  .verbose-info__icon {
    max-width: 20%;
    min-height: auto;
  }

  .item-description {
    margin: 0;
    font-size: 0.9rem;
  }

  .map {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .bg-img * {
    /*z-index: -1;*/
  }

  .main {
    display: flex;
    align-items: flex-start;
    width: 90%;
    height: 100vh;
    margin: 0 auto 0;
  }

  .main-width {
    width: 80%;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
  }

  .scroll {
    width: 100%;
    height: 100%;
  }

  .section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-content {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 30%;
    height: 100%;
  }

  .update-time {
    font-size: 0.8em;
  }
  .current-city-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
  }

  .current-container {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  .current-temp > aside {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
  }

  .celcius-font {
    position: relative;
    font-weight: 300;
    top: -1.5rem;
    right: 0.1rem;
    font-size: 0.4em;
  }

  .current-temp > aside > img {
    width: 25%;
    margin-right: 1em;
  }

  .current-temp-max,
  .current-temp-min {
    font-weight: 500;
  }

  .current-temp-min {
    opacity: 0.5;
  }

  .current-city-weather {
    margin: 0;
    font-weight: 150;
    text-align: center;
  }

  .verbose-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .verbose-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1.5rem;
  }

  .verbose-info > * + * {
    height: 100%;
  }

  .verbose-info__title {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem auto 0;
  }

  .verbose-info__items {
    margin-top: 1em;
    padding: 0.5rem 1.5rem;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(1em, 2fr));
  }

  .verbose-info_border {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .verbose-info li {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0.5rem 0.5rem;
    width: 100%;
  }

  .icon {
    position: relative;
    width: 10%;
  }

  .item-description-wrapper {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .verbose-info__icon {
    max-width: 20%;
  }

  .verbose-info-sun-moon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .item-description {
    margin: 0;
    font-size: 1.1em;
  }

  .map {
    width: 35%;
    height: 35%;
    position: relative;
  }

  .map__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .map__wrap canvas {
    height: 100%;
    overflow: auto;
  }

  .cesium-credit-textContainer {
    display: none;
  }

  .current-city-img {
    height: 80%;
  }

  .current-weather {
    position: relative;
    box-sizing: border-box;
    height: 45vh;
    background: rgba(26, 53, 98, 0.2);
    margin: 0 10px 0 10px;
    border-radius: 5px;
  }

  .we-pp-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--input-color);
    margin: 0 auto;
    width: 50%;
    height: 2.5em;
    position: relative;
    overflow: hidden;
  }

  .we-pp-tip {
    background-color: var(--input-color);
  }

  .marker {
    font-size: 1.3rem;
    text-align: center;
    color: var(--header-color);
  }
}

.footer {
  flex-shrink: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
  font-size: 0.9rem;
}

.footer__contact {
  color: #00a8ff;
  font-size: 3em;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__contact:active,
.footer__contact:focus,
.footer__contact:hover {
  color: rgba(29, 31, 227, 0.9);
  text-decoration: none;
  cursor: auto;
}
