@media (hover: none) and (pointer: coarse) {
  .border {
    border-top: 1pt solid #b3d7fd;
  }
}
@media (hover: hover) and (pointer: fine) {
  .border {
    border: 1pt solid #b3d7fd;
  }
}

.width-100 {
  width: 100%;
}

.margin-top--11em {
  margin-top: -11em;
}
.font-2em {
  font-size: 2em;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-min-width {
  min-width: 0;
}

.no-border {
  border: 0;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-5 {
  opacity: 0.5;
}
